[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqtchart = "*"
scapy = "*"
requests = "*"
netifaces = "*"
pyqtgraph = "*"
pyqt6 = "*"
pyside6 = "*"

[dev-packages]

[requires]
python_version = "3.8"
